.loader1 {
    position: relative;
    width: 300px; /* Increased size */
    height: 200px; /* Increased size */
    margin: auto; /* Centering horizontally */
    background-color: #e3e3e3;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .loader1:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

  }

  .loader .line-11,
  .loader .line-22,
  .loader .line-33,
  .loader .line-44 {
    background-color: #e0e0e0;
    margin: 10px 0;
    border-radius: 4px;
  }
  
  .loader .line-11 {
    height: 12px;
    width: 120px;
    margin-top: 20px;
    margin-left: 90px;
  }
  
  .loader .line-22 {
    height: 12px;
    width: 180px;
    margin-top: 50px;
    margin-left: 90px;
  }
  
  .loader .line-33 {
    height: 12px;
    width: 180px;
    margin-top: 50px;
    margin-left: 90px;
  }
  
  .loader .line-44 {
    height: 12px;
    width: 180px;
    margin-top: 50px;
    margin-left: 90px;
  }
  

  